* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

  }
  
  
  /* Header */
  header {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  
    padding: 10px 10px;
  
    background-color: rgb(9, 25, 63);
    color: white;
  }

  .logo-centre-and-size {
    justify-self: left;
    max-width: 50px;
  }
  /* main-section */
  .centre-wrapper-container {
    display: grid;
    grid-template-areas: ". centre .";
    grid-template-columns: 1fr 600px 1fr;
  }

  .centre-wrapper .centre-wrapper-container{
      grid-area: centre;
      margin-top: 50px;
      margin-bottom: 80px;
      color: white;
  }

  .card { 
    border: 2px solid black;
    text-align: center;
    padding: 16px;
    width: 200px;
    height: 80px;
    /* height: 200px; */
  }
/* Responsive Grid underneath */
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 8px;
    padding: 16px;
  }

  .gap-md {
      gap: 16px;
  }

  img {
    max-width: 100%;
    margin: 0;
  }

  